* {
    font-family: "Poppins", serif;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

#cart-table table thead td{
    /* font-weight: bold; */
    font-size: 20px;
}


#cart-table table thead td{
    padding: 20px 0px;
}

#cart-table table tr td{
    padding: 20px 0px;
}

#cart-table table tr td img{
    height: 50px;
}
.table td{
    border-top: none;
}

#cart-table table tr td input{
    height: 35px;
    width:70px;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 30px;
    border: 0.5px solid grey;
}
#cart-table table tr td input:focus{
    outline: none;
}

#cart-table table{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 10px;
    
}

#cart-table table tr td{
    padding-left: 10px;
}


.return-update-cart a{
  border-radius: 4px; 
}

.return-update-cart a:hover{
    background-color: rgba(175, 170, 170, 0.182);
}

.coupon-apply input , button{
    height: 6vh;
}

.coupon-apply button{
    background-color: #DB4444;
    color: white;
    border: none;
    border-radius: 5px;
}
