*{
    font-family: "Poppins", serif;
}

.singup-left img{
    height: 75vh;
    margin-top: 5vh;
}


.singup-right h3{
    font-size: 35px;
}

.singup-right span{
    color: grey;
    margin-left: -130px;
    margin-top: 20px;
}

.singup-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singup-right form input{
    width: 40vw;
    height: 7vh;
    border: none;
    border-bottom:2px solid black;
    border-left: 2px solid black;
    margin-top: 3vh;
}